.explanation-box {
    border: 1px solid #007BFF;
    padding: 15px;
    margin: 15px 0;
    border-radius: 5px;
    background-color: #e9f5ff;
    transition: transform 0.2s;
}
.explanation-box:hover {
    transform: scale(1.02);
}
section{
    height: auto;
}
.section {
    display: none; 
}
.active {
    display: block; 
}
.button-container {
    text-align: center;
    margin-top: 20px;
}
.button {
    padding: 10px 15px;
    margin: 0 5px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.submitBtn {
    padding: 10px 15px;
    margin: 0 5px;
    background-color: #796bfc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover {
    background-color: #6c6c6c;
}
.question {
    margin-bottom: 15px;
}
.correct {
    color: green;
    font-weight: bold;
  }
  
  .incorrect {
    color: red;
    font-weight: bold;
  }
  
.error {
    border: 1px solid red; /* Opcional: estilo para perguntas não respondidas */
}
.code-block {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top:10px;
    padding: 10px;
    font-family: monospace;
    overflow: auto;
}

#arrayDisplay {
    margin-top: 20px;
}


.input-container {
    display: flex;
    margin: 10px 0;
}

.input-container input {
    margin-right: 5px;
    padding: 5px;
    font-size: 16px;
}

.hidden {
    display: none;
}